<nav id="side-menu">
    <div class="list-group">

        <a class="list-group-item list-group-item-action list-group-item-dark" style="padding-bottom: 7px; padding-top: 7px" [routerLink]="['/external/professor/professor-detail', 0]" routerLinkActive="active">
      Professors
    </a>
        <small>
      <a *ngFor="let objProfessor of arrayProfessors; let i = index" class="list-group-item list-group-item-action"
        style="padding-bottom: 5px; padding-top: 5px" [routerLink]="['/external/professor/professor-detail', objProfessor.cod]"
        [class.list-group-item-info]="objProfessor == objSelectedProfessor" (click)="selectProfessor(objProfessor)">
        {{ i+1 }}. {{ objProfessor.nameProfessor }}
      </a>
    </small>

        <!--
        <ul class="nav nav-pillis">
            <li class="nav-item dropdown">
                <a class="list-group-item list-group-item-action list-group-item-dark  dropdown-toggle" style="padding-bottom: 7px; padding-top: 7px" [routerLink]="['/external/detail', 0]" routerLinkActive="active">
                  Professors
                </a>
                <div class="dropdown-menu">
                    <small>
                    <a *ngFor="let objProfessor of arrayProfessors; let i = index"
                      class="list-group-item list-group-item-action dropdown-item" style="padding-bottom: 5px;
                      padding-top: 5px"
                      [routerLink]="['/external/detail', objProfessor.cod]"
                      [class.list-group-item-info]="objProfessor == objSelectedProfessor"
                      (click)="selectProfessor(objProfessor)">
                      {{ i+1 }}. {{ objProfessor.nameProfessor }}
                    </a>
                  </small>
                </div>
            </li>
        </ul>
      -->
    </div>
</nav>